1-Write a code to create a string with your name and print it?

In [ ]:
name = "Digbijaya"
print(name)

Digbijaya

2-Write a code to find the length of the string "Hello World"P

In [ ]:
string = "Hello World"
length = len(string)
print(length)

11

3-Write a code to slice the first 3 characters from the string "Python Programming?

In [ ]:
string = "Python Programming"
slice = string[:3]
print(slice)

Pyt

4-Write a code to convert the string "hello" to uppercase?

In [ ]:
string = "hello"
uppercase_string = string.upper()
print(uppercase_string)

HELLO

5-Write a code to replace the word "apple" with "orange" in the string "I like apple?

In [ ]:
string = "I like apple"
updated_string = string.replace("apple", "orange")
print(updated_string)

I like orange

6-Write a code to create a list with numbers 1 to 5 and print it?

In [ ]:
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

7-Write a code to append the number 10 to the list [1, 2, 3, 4]?

In [ ]:
my_list = [1, 2, 3, 4]
my_list.append(10)
print(my_list)

[1, 2, 3, 4, 10]

8-Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]?

In [ ]:
my_list = [1, 2, 3, 4, 5]
my_list.remove(3)
print(my_list)
my_list = [1, 2, 3, 4, 5]
my_list.remove(3)
print(my_list)

[1, 2, 4, 5]
[1, 2, 4, 5]

9- Write a code to access the second element in the list ['a', 'b', 'c', 'd']?

In [ ]:
my_list = ['a', 'b', 'c', 'd']
second_element = my_list[1]
print(second_element)

b

10-Write a code to reverse the list [10, 20, 30, 40, 50].

In [ ]:
my_list = [10, 20, 30, 40, 50]
my_list.reverse()
print(my_list)

[50, 40, 30, 20, 10]

11-Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [ ]:
my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

12-Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')?

In [ ]:
my_tuple = ('red', 'green', 'blue', 'yellow')
second_to_last = my_tuple[-2]
print(second_to_last)

blue

13-Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [ ]:
my_tuple = (10, 20, 5, 15)
min_value = min(my_tuple)
print(min_value)

5

14- Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [ ]:
my_tuple = ('dog', 'cat', 'rabbit')
index_of_cat = my_tuple.index('cat')
print(index_of_cat)

1

15-Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [ ]:
fruits = ('apple', 'banana', 'cherry')
is_kiwi_in_tuple = 'kiwi' in fruits
print(is_kiwi_in_tuple)

False

16-Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [ ]:
my_set = {'a', 'b', 'c'}
print(my_set)

{'c', 'b', 'a'}

17-Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [ ]:
my_set = {12, 3, 4, 5}
my_set.clear()
print(my_set)

set()

18- Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [ ]:
my_set = {12, 3, 4}
my_set.remove(4)
print(my_set)

{3, 12}

19-Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [ ]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1 | set2  # 2nd option set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

20-Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [ ]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection_set = set1 & set2  # 2nd option set1.intersection(set2)
print(intersection_set)

{2, 3}

21-Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [ ]:
my_dict = {
    "name" : "John",
    "age"  : 30,
    "city" : "New York"
}
print(my_dict)

{'name': 'John', 'age': 30, 'city': 'New York'}

22-Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [ ]:
my_dict = {
    "name" : "John",
    "age"  : 25
}

my_dict["country"] = "USA"
print(my_dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

23- Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [ ]:
my_dict = {
    "name" : "Alice",
    "age"  : 30
}

name_value = my_dict["name"]
print(name_value)

Alice

24-Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [ ]:
my_dict = {
    "name" : "Bob",
    "age"  : 22,
    "city" : "New York"
}

del my_dict["age"]
print(my_dict)

{'name': 'Bob', 'city': 'New York'}

25-Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [ ]:
my_dict = {
    "name": "Alice",
    "city": "Paris"
}

if "city" in my_dict:
    print("Key 'city' exists.")
else:
    print("Key 'city' does not exist.")

Key 'city' exists.

26-Write a code to create a list, a tuple, and a dictionary, and print them all.

In [ ]:
my_list = [1, 2, 3, 4, 5]

my_tuple = ('apple', 'banana', 'cherry')

my_dict = {
    "name": "John",
    "age": 30,
    "city": "New York"
}

print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3, 4, 5]
Tuple: ('apple', 'banana', 'cherry')
Dictionary: {'name': 'John', 'age': 30, 'city': 'New York'}

27-Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)

In [ ]:
import random

random_numbers = [random.randint(1, 100) for _ in range(5)]

random_numbers.sort()

print("Sorted list of random numbers:", random_numbers)

Sorted list of random numbers: [36, 62, 66, 77, 82]

28-Write a code to create a list with strings and print the element at the third index.

In [ ]:
my_list = ["apple", "banana", "cherry", "date", "elderberry"]

print(my_list[3])

date

29-Write a code to combine two dictionaries into one and print the result.

In [ ]:
dict1 = {"name": "Alice", "age": 25}
dict2 = {"city": "Paris", "country": "France"}

combined_dict = {**dict1, **dict2}

print(combined_dict)

{'name': 'Alice', 'age': 25, 'city': 'Paris', 'country': 'France'}

30-Write a code to convert a list of strings into a set.

In [ ]:
my_list = ["apple", "banana", "cherry", "apple", "date"]
my_set = set(my_list)
print(my_set)

{'banana', 'cherry', 'apple', 'date'}